<ul>
<% @projects.each do |project| %>
  <li>
    <div class='project_name'>
      <%= project[:project_name] %>
    </div>
    <div>
      <% if project[:timer_on] == 1 %>
        <form action="<%= BASE_URL %>/projects/<%= project[:id] %>/stop" method='post'>
          <input class='stop' type='submit' value='Stop Timer'>
        </form>
      <% else %>
        <form action="<%= BASE_URL %>/projects/<%= project[:id] %>/start" method='post'>
          <input class='start' type='submit' value='Start Timer'>
        </form>
      <% end %>
    </div>
    <div>
      <a class='sm' href="<%= BASE_URL %>/projects/<%= project[:id] %>/tally">Tally</a>
      <a class='sm' href="<%= BASE_URL %>/projects/<%= project[:id] %>/csv">CSV</a>
      <form action="<%= BASE_URL %>/projects/<%= project[:id] %>/hide" method='post'>
        <input class='sm' type='submit' value='Hide'>
      </form>
    </div>
  </li>
<% end %>
</ul>

<% content_for :header_links do %>
<section>
  <a href="<%= BASE_URL %>/projects/new">Add new project</a>
  <a href="<%= BASE_URL %>/csv/all">CSV (all)</a>
  <a href="<%= BASE_URL %>/tally">Tally (all)</a>
</section>
<% end %>